<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingtao.dao.ExcelMapper">
	<resultMap type="com.qingtao.pojo.Excel" id="ExcelPojo">
		<result column="studentid" property="studentid" jdbcType="BIGINT" />
		<result column="promiss" property="promiss" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="tname" property="tname" jdbcType="VARCHAR" />
	</resultMap>
	<select id="excel" parameterType="java.lang.String" resultMap="ExcelPojo">
		SELECT u.studentid,u.promiss,s.ctitle as
		title,u.tname FROM `user` u, sdesign s
		WHERE s.studentid=u.studentid AND u.tname =#{promiss,jdbcType=VARCHAR}
	</select>
	<select id="excelsup" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT promiss from `user` WHERE studentid = #{workid,jdbcType=BIGINT}
	</select>
</mapper>
