.icon{
	font-size: 23px;
	letter-spacing: 10px;
}
.container-left {
	background-color: #2F4050;
	padding: 0;
}

.left-header {
	margin-top:5px;
	background: url(../img/header-profile.png) no-repeat;
	background-size: 100%;
	height: 20%;
	color: #DFE4ED;
	font-size: 14px;
}

.dropdown-toggle {
	color: #A7B1C2;
	font-size: 16px;
}
.left-menu{
	border-radius: 0;
	left: 40px;
}
.menu {
	margin-top: 20px;
}

.menu li {
	color: #A7B1C2;
	font-size: 16px;
	padding: 14px 25px;
}

.live,.menu li:hover {
	background-color: #293846;
}

.menu .live::after{
	content: "";
	display: inline-block;
	border-top: 25px solid transparent;
    border-right: 27px solid #FFFFFF;
    border-bottom: 25px solid transparent;
	position: absolute;
	right: 0;
	margin-top: -13px;
}

.btn-live{
	background-color: #293846;
	color: #A7B1C2;
	border-radius:0;
	border: 1px solid #293846;
	border-bottom: none;
	transition: 1.2s;
}
.btn-live:focus{
	background-color: #293846;
}
.btn-live:hover{
	background-color: #293846;
	color:#ffffff;
	transition: 1.2s;
}
.btn-close{
	color: #293846;
	display: inline-block;
	font-size: 12px;
	font-weight:800;
	line-height:11px;
	text-indent:0.1em;
	width: 13px;
	height: 13px;
	border-radius:50%;
	background-color: #A7B1C2;
}
.btn-close:hover{
	background-color:#ffffff;
	transition: 1.2s;
}
.btn-dead-style{
	border: 1px solid #E7EAEC;
	border-bottom : none;
	background-color: #f2f3f1;
}
a:link{
	text-decoration: none;
}
#face::before{
	content: '';
	line-height:70px;
	font-size:12px;
	color:#ffffff;
	width: 70px;
	height: 0;
	background-color: rgba(0,0,0,.8);
	position: absolute;
	border-radius:70px 70px 70px 70px;
	transition: 1.2s;
}
#face:hover::before{
	content: '上传头像';
	height: 70px;
	transition: 1.2s;
}
