.container-left {
	background-color: #2F4050;
	padding: 0;
}

.left-header {
	background: url(../img/header-profile.png) no-repeat;
	background-size: 100%;
	height: 20%;
	color: #DFE4ED;
	font-size: 16px;
}

.dropdown-toggle {
	cursor: pointer;
	color: #A7B1C2;
	font-size: 16px;
	cursor: pointer;
}
.left-menu{
	border-radius: 0;
	left: 40px;
}
.menu {
	margin-top: 20px;
}

.menu li {
	color: #A7B1C2;
	font-size: 16px;
	padding: 14px 25px;
}

.live,.menu li:hover {
	background-color: #293846;
}

.menu .live::after{
	content: "";
	display: inline-block;
	border-top: 25px solid transparent;
    border-right: 27px solid #D5D5D5;
    border-bottom: 25px solid transparent;
	position: absolute;
	right: 0;
	margin-top: -13px;
}
